<h1>Contacts</h1>
<div id="contact-list"></div>
<br>
<hr>
<h3>Add a new Contact: </h3>
<p>First Name: <input type="text" name="firstname"></p>
<p>Last Name: <input type="text" name="lastname"></p>
<p>Email: <input type="text" name="email"></p>
<input type="submit" id="newcontact">

